.header {
    width: 1170px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 30px;
    a {
        font-size: 25px;
        padding-right: 20px;
        color: black;
    }
}

@media screen and (max-width: 1000px) {
    .header {
        padding-left: 60px;
    }
}