.form {
    width: 30%;
    height: 80vh;
    border: 1px solid black;
    padding-top: 40px;
    label {
        margin: 10px;
        span {
            font-size: 25px;
        }
    }

    .form__container {
        margin-bottom: 20px;
        padding-left: 60px;
        position: relative;

        span {
            font-size: 25px;
        }
    }
}

.button__form {
    border: none;
    font-size: 35px;
    background-color: black;
    border-radius: 20px;
    color: white;
    padding: 10px 20px;
    position: absolute;
    right: 0px;
    bottom: -70px;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .form {
        margin-top: 30px;
        width: 90%;
        margin: 0 auto;
        height: auto;
    }
    .button__form {
        right: 60px;
    }
}